.diente {
    position: relative;
    width: 0px;
    height: auto;
    margin-left: 50px;
    display: inline-block;
}

.cuadro {
    background-color: #FFFFFF;
    border: 1px solid #7F7F7F;
    position: relative;
    width: 20px;
    height: 15px;
    left: 45px;
    -webkit-border-radius: 80px 80px 0px 15px;
    -moz-border-radius: 80px 80px 0px 15px;
    border-radius: 80px 80px 0px 15px;
}

.cuadro:hover {
    /*background: rgba(117, 198, 243, 0.4);*/
    
    cursor: pointer;
}

.izquierdo {
    top: 1px !important;
    left: 28px !important;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.debajo {
    top: 2px !important;
    left: 45px !important;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.derecha {
    top: -29px !important;
    left: 61px !important;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.centro {
    background: #F3F3F3;
    border: 1px solid #7F7F7F;
    width: 20px;
    height: 18px;
    top: -45px;
    left: 45px;
    position: relative;
}

.centro:hover {
    border: 1px solid rgba(117, 198, 243, 0.4);
    /*background-color: rgba(117, 198, 243, 0.4);*/
    
    cursor: pointer;
}

.color {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    padding: 3px;
}

.select {
    width: 40px;
    height: 40px;
    margin: 2px;
    background-color: #ccc;
    display: inline-block;
    cursor: pointer;
}

.select:hover {
    border: 1px solid rgba(117, 198, 243, 0.4);
}

.content {
    position: absolute;
}

.ui-dialog {
    position: relative !important;
}

#tr {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#br {
    border-right: 1px solid black;
}

#tl {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

#bl {
    border-left: 1px solid black;
}

.click-red {
    background-color: red;
}

.click-blue {
    background-color: blue;
}

.click-delete {
    background-color: #747F7D;
}

.kill {
    background-color: green;
}
